# Linux build files
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
/config.h
/install_manifest.txt
/radiant/neoradiant
/install/neoradiant.desktop
/test/drtest
*.o
*.lo
*.so
*.a
*.la
.deps

# Linux profiling
perf.data*

# Doxygen output
/dox

# Editor temporary files
*.swp
tags

# Windows directories
w32deps
w64deps
winincludes
build

# Windows build files
*.dll
*.pdb
install/*.exe
tools/msvc/*.exe
/tools/innosetup/*.exe
*.exp
*.lib

# Image Source Files
*.psd

# Windows Visual Studio stuff
*.user
NeoRadiant.opensdf
NeoRadiant.sdf
gtkrc
testsuite.ilk

# VS Code
.vscode
.cache

# VS
/winbuild
*.psess
*.suo
*.ipch
*.dirstamp
/tools/innosetup/*.7z
*.vspx
*.bak
*.opendb
*.iobj
*.ipdb

# Mac OS X Stuff
.DS_Store
xcuserdata

/install/*.zip
/tools/msvc/.vs
/tools/msvc/NeoRadiant.VC.db
/tools/innosetup/*.zip
/tools/lwo_analyse/.vs
/radiant/*.aps

# Portable installation temp folders
/tools/scripts/NeoRadiant_install.x64
/tools/scripts/NeoRadiant_install
/install/*.ilk
/tools/msvc/x64
/tools/msvc/packages
*.ilk
.vs/
windeps*.7z
/packages
/windeps
